:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #8d99ae;
}

.container {
  background-color: #2b2d42;
  max-width: 80%;
  width: 100%;
  margin: 20% auto;
  border-radius: 1rem;
  box-shadow: 2px 5px 10px 2px #2b2d42;
}
header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to right,
    #ec4899,
    #8b5cf6,
    #fd1d1d,
    #fcb045
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#task-form {
  display: flex;
  justify-content: space-between;
  background-color: #edf2f4;
  border-radius: 1rem;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task-input {
  flex: 1 1 75%;
  padding: 1rem;
  margin-right: 1rem;
  color: black;
  font-size: 1.25rem;
}

#task-input::placeholder {
  color: var(--grey);
}

#task-submit {
  margin-right: 0.5rem;
  color: var(--pink);
  font-size: 1.3rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--pink),
    var(--purple)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}

#task-submit:hover {
  opacity: 0.8;
}

#task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #edf2f4;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: #d90429;
  font-size: 1.3rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: black;
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(
    to right,
    var(--pink),
    var(--purple)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: #ef233c;
}
